.nav-btn{
  padding: 10px;
}

.btn-saiba-mais{
  color: #333;
  font-weight: 700;
  background-color: #DDD;
  border-radius: 5px;
  font-size: 2rem;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.btn-saiba-mais:hover{
  color: #5DFF9E;
  background-color: #333;
  box-shadow: 0 0 0 2px  #5DFF9E;
}
